In [12]:
num = [1,2,3,5,6]

In [13]:
num.insert(3,10)
num

[1, 2, 3, 10, 5, 6]

## 슬라이싱(인덱스) 삽입, 삭제, 치환

In [4]:
num[2:3]

[3]

In [14]:
# 맨 앞에 삽입
num[0] = 100
num

[100, 2, 3, 10, 5, 6]

In [15]:
num[:0] = [0]
num

[0, 100, 2, 3, 10, 5, 6]

In [16]:
num[:0] = 1111
num

TypeError: can only assign an iterable

In [17]:
# 맨 마지막
num[len(num):]=[-1]
num

[0, 100, 2, 3, 10, 5, 6, -1]

In [18]:
num[2:2] = [20,30,40]
num

[0, 100, 20, 30, 40, 2, 3, 10, 5, 6, -1]

In [19]:
# 치환
num[2:4] = [-20,-30,-40]
num

[0, 100, -20, -30, -40, 40, 2, 3, 10, 5, 6, -1]

In [20]:
num[:2] = [1,1]
num

[1, 1, -20, -30, -40, 40, 2, 3, 10, 5, 6, -1]

In [21]:
del num[:2]
num

[-20, -30, -40, 40, 2, 3, 10, 5, 6, -1]

In [22]:
num[:2] = []
num

[-40, 40, 2, 3, 10, 5, 6, -1]

In [24]:
a=1,2,3,4
a

(1, 2, 3, 4)

In [25]:
type(a)

tuple

In [27]:
t = ()
t

()

In [28]:
type(t)

tuple

In [30]:
t=(1,2,3,'1','하나',[1,2,3])
t

(1, 2, 3, '1', '하나', [1, 2, 3])

In [31]:
len(t)

6

In [32]:
t= (1,2,3,-10,100)
max(t),sum(t),min(t)

(100, 96, -10)

In [33]:
sum(t) / len(t)

19.2

In [34]:
t*2

(1, 2, 3, -10, 100, 1, 2, 3, -10, 100)

In [35]:
t+t

(1, 2, 3, -10, 100, 1, 2, 3, -10, 100)

## 인덱싱

In [36]:
t[1]

2

In [37]:
t[:4]

(1, 2, 3, -10)

In [38]:
t[-4:-2]

(2, 3)

In [39]:
t[0]= 1000

TypeError: 'tuple' object does not support item assignment

In [40]:
t.count(3)

1

In [41]:
t.index(-10)

3

In [42]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [44]:
t = (1,2,3,4,5)
li = list(t)
li

[1, 2, 3, 4, 5]

In [47]:
li.append(10)
li.append(20)
li.append(30)
li

[1, 2, 3, 4, 5, 10, 20, 30]

In [48]:
t = tuple(li)
t

(1, 2, 3, 4, 5, 10, 20, 30)

In [50]:
sorted(t)

[1, 2, 3, 4, 5, 10, 20, 30]

In [51]:
#구구단표 튜플
dans =(2,3,4,5,6,7,8,9)
print('구구단표')
print('-'*30)
for dan in dans:
    for i in range(1,10):
        print('%d X %d = %d' %(dan, i, dan*i))
    print('-'*30)

구구단표
------------------------------
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
------------------------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
------------------------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
------------------------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
------------------------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
------------------------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
------------------------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
------------------------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
------------------------------

In [55]:
admin_info = ('admin','12345','rubato@naver.com')
id = input('관리자 아이디를 입력하세요 : ')
password = input('관리자 비밀번호를 입력하세요 : ')

if id == admin_info[0] and password == admin_info[1] :
    print('관리자입니다')
else:
    print('아디디 또는 비밀번호가 잘못 입력되었습니다.')

관리자 아이디를 입력하세요 :  admin
관리자 비밀번호를 입력하세요 :  12345

관리자입니다

# Dict

In [58]:
scores = {}

In [59]:
scores= dict()

In [60]:
type(scores)

dict

In [61]:
scores = {'kor' : 85, 'eng' : 100, 'math' : 100}
scores

{'kor': 85, 'eng': 100, 'math': 100}

In [62]:
len(scores)

3

In [63]:
max(scores)

'math'

In [64]:
scores['kor']

85

In [65]:
scores[0]

KeyError: 0

In [66]:
scores['kor']=0

In [67]:
scores

{'kor': 0, 'eng': 100, 'math': 100}

In [68]:
scores['test'] = 100

In [69]:
scores

{'kor': 0, 'eng': 100, 'math': 100, 'test': 100}

In [71]:
scores['test'] = {} #xxxx delete가 되지않음
scores

{'kor': 0, 'eng': 100, 'math': 100, 'test': {}}

In [72]:
del scores['test']
scores

{'kor': 0, 'eng': 100, 'math': 100}

In [73]:
for i in scores:
    print(i)

kor
eng
math

### enumerate() & items()

In [77]:
scores = {'kor':85, 'eng':100, 'math':90}

for i, key in enumerate(scores):             # 인덱스와 값을 다룰 때
    print(i, key, scores.get(key))

0 kor 85
1 eng 100
2 math 90

In [78]:
scores['kor']

85

In [79]:
 for k, v in scores.items():       # 키와 값을 다룰 때
    print(k,v)

kor 85
eng 100
math 90

In [80]:
li = ['1', 'abc', 30, 40, 50]
for i, k in enumerate(li):
    print(i,k)

0 1
1 abc
2 30
3 40
4 50

In [81]:
scores = {'김예진':90, '박영진':95, '김소희':84}
sum = 0
for key in scores :
    sum += scores[key]
    print('%s: %d' %(key, scores[key]))
avg = sum/len(scores)

print('합계 : %d, 평균 : %.2f'%(sum,avg))

김예진: 90
박영진: 95
김소희: 84
합계 : 269, 평균 : 89.67

In [85]:
ad={'id':'admin','password':'11111'}
in_id = input('아이디를 입력하세요: ')
in_password = input('비밀번호를 입력하세요: ')
if(in_id == ad['id'] and in_password == ad['password']) :
    print('모든 정보에 접근 가능합니다!')
else :
    print('정보에 접근 권한이 없습니다!')

아이디를 입력하세요:  admin
비밀번호를 입력하세요:  1234

정보에 접근 권한이 없습니다!

In [87]:
words = {'사과':'apple', '컴퓨터':'computer', '학교':'school', '책상':'desk','의자':'chair'}

for key in words:
    in_word = input('%s에 해당하는 영어 단어를 입력해주세요: ' % key )
    
    if in_word == words[key]:
        print('정답입니다!')
    else :
        print('틀렸습니다!')

사과에 해당하는 영어 단어를 입력해주세요:  메

틀렸습니다!

컴퓨터에 해당하는 영어 단어를 입력해주세요:  app

틀렸습니다!

학교에 해당하는 영어 단어를 입력해주세요:  scho

틀렸습니다!

책상에 해당하는 영어 단어를 입력해주세요:  desk

정답입니다!

의자에 해당하는 영어 단어를 입력해주세요:  chair

정답입니다!

### 체크

In [88]:
'kor' in scores

False

In [93]:
scores.get('t') # 값이 있을때 변환

In [100]:
id={'kim99':'12000','lee66':'11000','han55':'3000','hong77':'5000','hwang33':'18000'}
for a, b in enumerate(id):
    print ('%d. 아이디 : %s, 마일리지 : %s점' %(a+1, b, id.get(b)))

1. 아이디 : kim99, 마일리지 : 12000점
2. 아이디 : lee66, 마일리지 : 11000점
3. 아이디 : han55, 마일리지 : 3000점
4. 아이디 : hong77, 마일리지 : 5000점
5. 아이디 : hwang33, 마일리지 : 18000점

In [104]:
id['han55']= 5000
print('han55님의 마일리지가 %d점으로 수정 되었습니다.' %id.get('han55'))

han55님의 마일리지가 5000점으로 수정 되었습니다.

In [192]:
id={'kim99':12000,'lee66':11000,'han55':3000,'hong77':5000,'hwang33':18000}
id['jang88']=7000
print("전체 딕셔너리 : %s"%id)
for key in id :
    if key == 'jang88' :
        print('%s님의 마일리지(%d점)가 추가 되었습니다.'%(key,id[key]))

전체 딕셔너리 : {'kim99': 12000, 'lee66': 11000, 'han55': 3000, 'hong77': 5000, 'hwang33': 18000, 'jang88': 7000}
jang88님의 마일리지(7000점)가 추가 되었습니다.

In [164]:
max(id.values())

18000

In [160]:
for x, y in id.items() :
    print("%s : %d"%(x,y),end =', ')
print('\njang88님의 마일리지(%s점)가 추가 되었습니다.'%id['jang88'])

str

### 'args 매개변수'

In [208]:
def average(*scores):
    sum = 0
    if len(scores) <= 0 :
        print('입력하지않음')
    else:
        for i in range(len(scores)):
            sum += scores[i]
    
        avg = sum/len(scores)
        print('%d과목의 평균 : %.2f' % (len(scores), avg))

average(80,90,100)

3과목의 평균 : 90.00

In [197]:
average(1)

1과목의 평균 : 1.00

In [209]:
average()

입력하지않음

In [210]:
def hello(*args) : #args
    print(args)

In [212]:
hello(1,1,1,1,1,1,1)

(1, 1, 1, 1, 1, 1, 1)

In [215]:
hello('121213',[1,1,1,1,1],29)

('121213', [1, 1, 1, 1, 1], 29)

In [239]:
def func(x):
    x[0]=100
    print('func() : x =',x,",id=",id(x))

In [241]:
x=[1,2,3]
print("메인:x=", x,",id=",id(x))
func(x)
print('메인:x=', x,",id=",id(x))

TypeError: 'int' object is not callable