In [9]:
"""
for <> in []:
"""
    # to do

'\nfor <> in []:\n'

In [12]:
range(5) #내장함수, 시작~종료 범위 숫자를 발생!

range(0, 5)

In [6]:
r = range(5)
r

range(0, 5)

In [10]:
type(r)

range

In [11]:
len(r)

5

In [13]:
len("안녕하세요")

5

In [14]:
for x in range(5):
    print(x)

0
1
2
3
4

In [15]:
for x in r:
    print(x)

0
1
2
3
4

In [16]:
# 반복!!!
for x in range(5):
    print(x *'*')

*
**
***
****

In [17]:
# 반복!!!!
for x in range(10, 100, 4):
    print(x * '*')

**********
**************
******************
**********************
**************************
******************************
**********************************
**************************************
******************************************
**********************************************
**************************************************
******************************************************
**********************************************************
**************************************************************
******************************************************************
**********************************************************************
**************************************************************************
******************************************************************************
**********************************************************************************
**************************************************************************************
******************************************************************************************
**********************************************************************************************
**************************************************************************************************

In [18]:
# 반복 !!!
for x in range(1, 20):
    if x % 2 == 0: # 짝수
        print(x*'*')
    else:          # 홀수
        print(x*'+')

+
**
+++
****
+++++
******
+++++++
********
+++++++++
**********
+++++++++++
************
+++++++++++++
**************
+++++++++++++++
****************
+++++++++++++++++
******************
+++++++++++++++++++

In [1]:
x = 0
while True:
    print('A')
    x +=1
    # 종료조건
    
    if x == 300:
        break

A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A
A

# for 와 브레이크

In [3]:
# 반복 !!!!
for x in range(1,20):
    if x % 2 == 0: #짝수
        print(x *'*')
    elif x % 5 == 0:
        break

**
****

# 3의 배수의 합계

In [10]:
sum = 0
for i in range(1,101):
    if i%3 == 0 :
        print(' %d' %i, end = ' ')
        sum += i
print('\n','-'*150)
print('1~100에서 3의 배수의 합계 : %d'%sum)

 3  6  9  12  15  18  21  24  27  30  33  36  39  42  45  48  51  54  57  60  63  66  69  72  75  78  81  84  87  90  93  96  99
 ------------------------------------------------------------------------------------------------------------------------------------------------------
1~100에서 3의 배수의 합계 : 1683

In [16]:
while True:
    stop = int(input('끝 숫자를 입력:'))
    if stop == -1:
            print('Quit...'); break
    sum = 0
    for i in range(1, stop) :
        if i%3 ==0 :
            print('%d' %i, end = ' ')
            sum += i

    print('\n', '-'*50)
    print('1~100에서3의배수의합계 : %d' %sum)

끝 숫자를 입력:100
3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99
 --------------------------------------------------
1~100에서3의배수의합계 : 1683
끝 숫자를 입력:200
3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99 102 105 108 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162 165 168 171 174 177 180 183 186 189 192 195 198
 --------------------------------------------------
1~100에서3의배수의합계 : 6633
끝 숫자를 입력:-1
Quit...

In [20]:
while True:
    a = int(input('서비스 만족도를 입력해주세요(예: 1 또는 2또는 3, 마치시려면 -1):'))
    if a == -1:
        print('수고하셨습니다'); break
    else:
        print('서비스 만족도 :')
        print(' 1: 매우만족')
        print(' 2: 만족')
        print(' 3: 불만족')
    
    
        price = int(input('음식값을 입력해 주세요(예:8000) : '))
    
        if a == 1 :
            tip = int(price*0.2)
            service = '매우 만족'
        elif a == 2:
            tip = int(price*0.1)
            service = '만족'
        else:
            tip = int(price * 0.05)
            service = '불만족'
    
        print()
        print('서비스 만족도 : %s, 팁: %d원' %(service, tip))

서비스 만족도를 입력해주세요(예: 1 또는 2또는 3, 마치시려면 -1):1
서비스 만족도 :
 1: 매우만족
 2: 만족
 3: 불만족
음식값을 입력해 주세요(예:8000) : 500

서비스 만족도 : 매우 만족, 팁: 100원
서비스 만족도를 입력해주세요(예: 1 또는 2또는 3, 마치시려면 -1):2
서비스 만족도 :
 1: 매우만족
 2: 만족
 3: 불만족
음식값을 입력해 주세요(예:8000) : 900

서비스 만족도 : 만족, 팁: 90원
서비스 만족도를 입력해주세요(예: 1 또는 2또는 3, 마치시려면 -1):-1
수고하셨습니다

In [ ]:
for s in ...  # iterable objeck

In [22]:
msg = "안녕하세요"
for s in msg:
    print(s)

안
녕
하
세
요

In [27]:
print('-'*30)
print('   섭씨   화씨')
print('-'*30)

for c in range(-20,31,5):
    f = c* 9.0/5.0+32.0
    print('%8d %6.1f'%(c,f))
    
print('-'*30)

------------------------------
   섭씨   화씨
------------------------------
     -20   -4.0
     -15    5.0
     -10   14.0
      -5   23.0
       0   32.0
       5   41.0
      10   50.0
      15   59.0
      20   68.0
      25   77.0
      30   86.0
------------------------------

In [28]:
n1 = int(input('시작 수를 입력하세요:'))
n2 = int(input('끝 수를 입력하세요'))

sum = 0
for i in range(n1, n2):
    if i%5 == 0 :
        sum += i

print('-'*50)
print('%d에서 %d까지 5의 배수가 아닌 수의 합계 : %d' %(n1 ,n2 , sum))

시작 수를 입력하세요:10
끝 수를 입력하세요19
--------------------------------------------------
10에서 19까지 5의 배수가 아닌 수의 합계 : 25

In [29]:
number = input('하이픈(-)을 포함한 휴대폰 번호를 입력하세요:')

for x in number :
    if x != '-' :
        print('%s'% x, end = '' )

하이픈(-)을 포함한 휴대폰 번호를 입력하세요:010-6369-1068
01063691068

In [38]:
number = input('하이픈(-)을 포함한 휴대폰 번호를 입력하세요:')
print(number.split(sep='-'))
print("".join(number.split('-')))

하이픈(-)을 포함한 휴대폰 번호를 입력하세요:010-6369-1068
['010', '6369', '1068']
01063691068

In [41]:
phone = input('하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요:')

number = '';
for i in range(0, len(phone)):
    if i == 2:
        number = number + (phone[2]+'-')
    elif i == 6:
        number = number + (phone[6]+'-')
    else:
        number = number + phone[i]
print(number)

하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요:01063691068
010-6369-1068

In [78]:
print('-'*50)
print('센티미터(cm)인치(inch) 피트(ft)  야드(yd)')
print('-'*50)
for cm in range (10,201,10) :
    inch = cm*0.393701
    ft = cm*0.032808
    yd = cm*0.010936
    print('%8d %10.1f %10.1f %10.1f'%(cm,inch,ft,yd))

--------------------------------------------------
센티미터(cm)인치(inch) 피트(ft)  야드(yd)
--------------------------------------------------
      10        3.9        0.3        0.1
      20        7.9        0.7        0.2
      30       11.8        1.0        0.3
      40       15.7        1.3        0.4
      50       19.7        1.6        0.5
      60       23.6        2.0        0.7
      70       27.6        2.3        0.8
      80       31.5        2.6        0.9
      90       35.4        3.0        1.0
     100       39.4        3.3        1.1
     110       43.3        3.6        1.2
     120       47.2        3.9        1.3
     130       51.2        4.3        1.4
     140       55.1        4.6        1.5
     150       59.1        4.9        1.6
     160       63.0        5.2        1.7
     170       66.9        5.6        1.9
     180       70.9        5.9        2.0
     190       74.8        6.2        2.1
     200       78.7        6.6        2.2

In [77]:
phone = '010-222-3333'
print(len(phone))
print(phone[11:7:-1]+phone[6:3:-1]+phone[2::-1])

12
3333222010

In [60]:
gugudan = int(input('원하는 단수를 입력하세요'))
print('-'*50)

for a in range(1,10):
    c = gugudan * a
    print ('%d x %d =  %d' %( gugudan,a,c))
    
    print('-'*50)

원하는 단수를 입력하세요4
--------------------------------------------------
4 x 1 =  4
--------------------------------------------------
4 x 2 =  8
--------------------------------------------------
4 x 3 =  12
--------------------------------------------------
4 x 4 =  16
--------------------------------------------------
4 x 5 =  20
--------------------------------------------------
4 x 6 =  24
--------------------------------------------------
4 x 7 =  28
--------------------------------------------------
4 x 8 =  32
--------------------------------------------------
4 x 9 =  36
--------------------------------------------------

In [87]:
for i in range(1,11):
    for j in range(1, i+1):
        print('*', end = '')
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [90]:
for i in range(1,11):
    for j in range(1, 11-i):
        print(' ',end='')
    for k in range(1, i+1):
        print('*',end='')
    for l in range(1, i+1):  # 트리만들어봄
        print('*',end='')
    print()

         **
        ****
       ******
      ********
     **********
    ************
   **************
  ****************
 ******************
********************

In [92]:
print('-'*30)
print('    섭씨     화씨')
print('-'*30)

c=-20
while c<41:
    f = c*9.0/5.0+32.0
    print('%8d %8.1f'%(c,f))
    
    c +=1
print('-'*30)

------------------------------
    섭씨     화씨
------------------------------
     -20     -4.0
     -19     -2.2
     -18     -0.4
     -17      1.4
     -16      3.2
     -15      5.0
     -14      6.8
     -13      8.6
     -12     10.4
     -11     12.2
     -10     14.0
      -9     15.8
      -8     17.6
      -7     19.4
      -6     21.2
      -5     23.0
      -4     24.8
      -3     26.6
      -2     28.4
      -1     30.2
       0     32.0
       1     33.8
       2     35.6
       3     37.4
       4     39.2
       5     41.0
       6     42.8
       7     44.6
       8     46.4
       9     48.2
      10     50.0
      11     51.8
      12     53.6
      13     55.4
      14     57.2
      15     59.0
      16     60.8
      17     62.6
      18     64.4
      19     66.2
      20     68.0
      21     69.8
      22     71.6
      23     73.4
      24     75.2
      25     77.0
      26     78.8
      27     80.6
      28     82.4
      29     84.2
      30     86.0
      31     87.8
      32     89.6
      33     91.4
      34     93.2
      35     95.0
      36     96.8
      37     98.6
      38    100.4
      39    102.2
      40    104.0
------------------------------

In [95]:
i = 200
count = 0
while i < 601:
    if i %3 != 0 :
        print('%d ' %i, end='')
        count += 1
        if count % 8==0:
            print()
    i +=1

200 202 203 205 206 208 209 211
212 214 215 217 218 220 221 223
224 226 227 229 230 232 233 235
236 238 239 241 242 244 245 247
248 250 251 253 254 256 257 259
260 262 263 265 266 268 269 271
272 274 275 277 278 280 281 283
284 286 287 289 290 292 293 295
296 298 299 301 302 304 305 307
308 310 311 313 314 316 317 319
320 322 323 325 326 328 329 331
332 334 335 337 338 340 341 343
344 346 347 349 350 352 353 355
356 358 359 361 362 364 365 367
368 370 371 373 374 376 377 379
380 382 383 385 386 388 389 391
392 394 395 397 398 400 401 403
404 406 407 409 410 412 413 415
416 418 419 421 422 424 425 427
428 430 431 433 434 436 437 439
440 442 443 445 446 448 449 451
452 454 455 457 458 460 461 463
464 466 467 469 470 472 473 475
476 478 479 481 482 484 485 487
488 490 491 493 494 496 497 499
500 502 503 505 506 508 509 511
512 514 515 517 518 520 521 523
524 526 527 529 530 532 533 535
536 538 539 541 542 544 545 547
548 550 551 553 554 556 557 559
560 562 563 565 566 568 569 571
572 574 575 577 578 580 581 583
584 586 587 589 590 592 593 595
596 598 599

In [98]:
s = input('영어 문장을 입력하세요 :')

i = 0
count = 0
print('모음 : ', end = '')
while i<len(s)-1 :
    if(s[i] =='a' or s[i] =='A' or s[i] =='e' or s[i] == 'E' \
      or s[i] == 'i' or s[i] =='I' or s[i] == 'o' or s[i] == 'O'\
      or s[i] =='u' or s[i] == 'U'):
        count+=1
        print(s[i], end='')
    i+=1
print('\n모음의개수 :  %d' % count)

영어 문장을 입력하세요 :pdsafnponfasPONPENPOW
모음 : aoaOEO
모음의개수 :  6

In [107]:
s = input('영어 문장을 입력하세요 :')

i = 0
count = 0
print('모음 : ', end = '')
lo = s.lower()

while i<=len(s)-1 :
    if(lo[i] =='a'  or lo[i] =='e' or lo[i] == 'i'  or lo[i] == 'o'  or lo[i] =='u' ):
        count+=1
        print(s[i], end='')
    i+=1
print('\n모음의개수 :  %d' % count)

영어 문장을 입력하세요 :APPLE
모음 : AE
모음의개수 :  2

In [114]:
for d in range(5):
    print('* '*10)

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [119]:
 i = 0
while i <= 4 :
    print('* '*10)
    i+=1

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [148]:
for a in range(0,6):
        n = 6-a
        print('%d ' %n *n, end=' \n')

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [171]:
for a in range(0,6) :
    for b in range(0,a+1):
        print('%d ' %b , end=' ')
    print()

0
0  1
0  1  2
0  1  2  3
0  1  2  3  4
0  1  2  3  4  5

In [174]:
s = [64, 89, 100, 85, 77 ,58, 79, 67, 96, 87, 87, 35, 82,98,84,76,63,69,53,22]

count_su = 0
count_woo = 0
count_mi = 0
count_yang = 0
count_ga = 0

i=0
while i < len(s):
    if s[i] >=90 and s[i] <= 100 :
        count_su = count_su+1
    if s[i] >=80 and s[i] <= 89 :
        count_woo = count_woo+1
    if s[i] >=70 and s[i] <= 79 :
        count_mi = count_mi+1
    if s[i] >=60 and s[i] <= 69 :
        count_yang = count_yang +1
    if s[i] >= 0 and s[i] <= 59 :
        count_ga = count_ga+1
        
    i+=1

print('수 : %d명' %count_su)
print('우 : %d명' %count_woo)
print('미 : %d명' %count_mi)
print('양 : %d명' %count_yang)
print('가 : %d명' %count_ga)

수 : 3명
우 : 6명
미 : 3명
양 : 4명
가 : 4명

In [178]:
questions = ['tr_in', 'b_s', '_axi', 'air_lane']
answers = ['a','u','t','p']

for i in range(len(questions)) :
    q = '%s 에서 밑줄(_)안에 들어갈 알파벳은?' % questions[i]
    ans = input(q)
    
    if ans == answers[i] :
        print('정답입니다!')
    else :
        print('틀렸습니다!')

tr_in 에서 밑줄(_)안에 들어갈 알파벳은?a
정답입니다!
b_s 에서 밑줄(_)안에 들어갈 알파벳은?u
정답입니다!
_axi 에서 밑줄(_)안에 들어갈 알파벳은?t
정답입니다!
air_lane 에서 밑줄(_)안에 들어갈 알파벳은?p
정답입니다!

In [180]:
#중첩 리스트 2차원 리스트
numbers = [[10,20,30],[40,50,60]]

print(numbers[0])
print(numbers[1])

print(numbers[0][0])
print(numbers[0][1])
print(numbers[0][2])
print(numbers[1][0])
print(numbers[1][1])
print(numbers[1][2])

[10, 20, 30]
[40, 50, 60]
10
20
30
40
50
60