In [1]:
li = []

In [2]:
li

[]

In [3]:
type(li)

list

In [5]:
li=['안','녕','하','세','요']
li

['안', '녕', '하', '세', '요']

In [9]:
li = ['안녕하세요', 1000, ['hello'], 100.4, 'ABC']
li

['안녕하세요', 1000, ['hello'], 100.4, 'ABC']

In [8]:
li[0], type(li[0])

('안녕하세요', str)

In [10]:
li[2:]

[['hello'], 100.4, 'ABC']

In [11]:
li[:-3]

['안녕하세요', 1000]

In [12]:
li[-1]

'ABC'

In [13]:
li[-2]

100.4

In [15]:
li[-3:-1]

[['hello'], 100.4]

In [16]:
li[-3:]

[['hello'], 100.4, 'ABC']

In [17]:
list(range(1,10,3))

[1, 4, 7]

In [21]:
li = list('안녕하세요')
li

['안', '녕', '하', '세', '요']

In [22]:
"".join(li)

'안녕하세요'

In [23]:
len(li)

5

In [24]:
a = ['red', 'green', 'blue']

In [25]:
a.append('yellow')
a

['red', 'green', 'blue', 'yellow']

In [26]:
a.insert(1,'black')
a

['red', 'black', 'green', 'blue', 'yellow']

In [27]:
b=['purple','white']

In [29]:
a.extend(b) 
a

['red',
 'black',
 'green',
 'blue',
 'yellow',
 'purple',
 'white',
 'purple',
 'white']

In [30]:
print(a)

['red', 'black', 'green', 'blue', 'yellow', 'purple', 'white', 'purple', 'white']

In [31]:
a = ['red','green','blue']
b = ['yellow','purple']

In [32]:
a*2 # 브로드캐스팅

['red', 'green', 'blue', 'red', 'green', 'blue']

In [33]:
a.index('red') #인덱스 몇번이냐?

0

In [34]:
a.index('green')

1

In [35]:
a.pop(0) # 인덱스 위치를 알 때 그것을 지울수 있음 공간은 빔

'red'

In [42]:
a

['green']

In [ ]:
a.remove('blue') # 값을 검색해서 지우기

In [38]:
a

['green']

# del()

In [43]:
a = 10
b = 10
li = ['red','green', 'blue']

In [44]:
a,b,li

(10, 10, ['red', 'green', 'blue'])

In [45]:
del a

In [46]:
a

NameError: name 'a' is not defined

In [47]:
del li[0]
li

['green', 'blue']

In [56]:
li = ['red', 'green', 'blue', 'red', 'green', 'blue']
li

['red', 'green', 'blue', 'red', 'green', 'blue']

In [50]:
li.count('red') # 값이 몇개 있는지

2

In [53]:
li.sort()  # li를 정렬해줌

In [54]:
li

['blue', 'blue', 'green', 'green', 'red', 'red']

In [57]:
sorted(li)  #  정렬된채 보여줌

['blue', 'blue', 'green', 'green', 'red', 'red']

In [58]:
li

['red', 'green', 'blue', 'red', 'green', 'blue']

# 리스트 연습

In [63]:
color = ['red','green','blue','black','white']

print(color[0])
print(color[4])
print(color[1:4])

red
white
['green', 'blue', 'black']

In [65]:
num = list(range(1,20,2))
print(num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [67]:
mylist = ['사과','바나나','파인애플','배']
mylist.append('키위')

for a in mylist:
    print(a)

사과
바나나
파인애플
배
키위

In [68]:
mylist = ['사과','바나나','파인애플','포도','오렌지','배']
mylist.remove('바나나')
print(mylist)

['사과', '파인애플', '포도', '오렌지', '배']

In [69]:
person1 = ['kim',24,'kim@naver.com']
person2 = ['lee',35,'lee@hanmail.net']
person = person1+person2
print(person)

['kim', 24, 'kim@naver.com', 'lee', 35, 'lee@hanmail.net']

In [71]:
scores = [88, 75, 90, 95, 77, 69, 80, 92]
sum = 0
for score in scores :
    sum += score

avg = sum/8

print('총점: %d, 평균 : %.2f' %(sum, avg))

총점: 666, 평균 : 83.25

In [72]:
animals = ['토끼', '거북이', '사자', '호랑이']

i=0
while i < len(animals):
    print(animals[i])
    
    i+=1

토끼
거북이
사자
호랑이

In [75]:
scores = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],\
          [90,76,91],[82,66,88],[83,86,79],[85,90,83]]

for i in range(len(scores)):
    sum = 0
    for j in range(len(scores[i])):
        sum = sum + scores[i][j]
    avg = sum/len(scores[i])
    
    print('%d번째 학생의 합계: %d, 평균 : %.2f'% ( i+1, sum,avg))

1번째 학생의 합계: 260, 평균 : 86.67
2번째 학생의 합계: 258, 평균 : 86.00
3번째 학생의 합계: 254, 평균 : 84.67
4번째 학생의 합계: 254, 평균 : 84.67
5번째 학생의 합계: 257, 평균 : 85.67
6번째 학생의 합계: 236, 평균 : 78.67
7번째 학생의 합계: 248, 평균 : 82.67
8번째 학생의 합계: 258, 평균 : 86.00

In [77]:
#stack : first in last out
li = ['Mary', 'had', 'a', 'little', 'rabbit']
li.append('!')
#stack
li.pop(), li.pop(), li.pop()

('!', 'rabbit', 'little')

In [78]:
# Queue : first in first out
li = ['Mary', 'Had', 'a', 'little', 'rabbit']
li.append('!')
li.pop(0),li.pop(0),li.pop(0),li.pop(0)

('Mary', 'Had', 'a', 'little')

In [82]:
scores = []
while True :
    score = int(input('성적을 입력하세요(종료 시 -1 입력):'))
        
    if score == -1:
        break
    else :
        scores.append(score)

sum = 0
for i in range(0, len(scores)):
    sum += scores[i]

avg = sum/len(scores)

print('합계 : %d, 평균 : %.2f'%(sum,avg))

성적을 입력하세요(종료 시 -1 입력):80
성적을 입력하세요(종료 시 -1 입력):90
성적을 입력하세요(종료 시 -1 입력):50
성적을 입력하세요(종료 시 -1 입력):-1
합계 : 220, 평균 : 73.33

In [83]:
scores = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],\
         [90,76,91],[82,66,88],[83,86,79],[85,90,83]]

i=0
while i < len(scores) :
    sum=0
    j=0
    while j<len(scores[i]):
        sum = sum + scores[i][j]
        j+=1
    avg = sum/len(scores[i])
    print('%d번째 학생의 합계 : %d, 평균 : %.2f' %(i+1, sum, avg))
    i+=1

1번째 학생의 합계 : 260, 평균 : 86.67
2번째 학생의 합계 : 258, 평균 : 86.00
3번째 학생의 합계 : 254, 평균 : 84.67
4번째 학생의 합계 : 254, 평균 : 84.67
5번째 학생의 합계 : 257, 평균 : 85.67
6번째 학생의 합계 : 236, 평균 : 78.67
7번째 학생의 합계 : 248, 평균 : 82.67
8번째 학생의 합계 : 258, 평균 : 86.00

In [85]:
seats = [[0,0,0,0,0,0,0,0,0,0],\
        [0,0,0,0,0,0,0,0,0,0],\
        [0,0,0,0,0,0,0,0,0,0],\
         [1,1,1,0,0,0,0,0,1,0],\
         [0,0,0,0,0,1,0,0,0,0],\
         [0,1,0,0,0,1,0,1,0,0],\
         [0,0,0,0,0,0,1,0,0,0],\
         [1,0,1,0,0,0,0,0,0,1]]

for i in range(len(seats)):
    for j in range(len(seats[i])):
        if seats[i][j] == 0 :
            print('%3s' % '□', end='')
        else :
            print('%3s' % '■', end='')
    print()

print('\n※ 예약 가능:■, 예약 불가:□')

  □  □  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □  □  □
  ■  ■  ■  □  □  □  □  □  ■  □
  □  □  □  □  □  ■  □  □  □  □
  □  ■  □  □  □  ■  □  ■  □  □
  □  □  □  □  □  □  ■  □  □  □
  ■  □  ■  □  □  □  □  □  □  ■

※ 예약 가능:■, 예약 불가:□