# 파이썬 프로그래밍

In [1]:
kor = 90
eng = 100

test = 90 + 100
sum = kor + eng
avg = sum/2

print('합계:', sum)
print('평균:', avg)

합계: 190
평균: 95.0

In [10]:
variable= 1234256         # 숫자
variable2 = "하나둘셋"      # 문자

In [11]:
variable

1234256

In [12]:
variable2

'하나둘셋'

In [14]:
variable = variable2       # XXXXXX 다른언어의 경우는 되지 않으나 파이썬은 된다.
variable

'하나둘셋'

## 숫자

In [16]:
i = 10
j = 100
k = -10000

In [17]:
i, j, k

(10, 100, -10000)

 # 문자열

In [18]:
#문자열 리터럴

str = "안녕"
str = '안녕'
str

'안녕'

In [19]:
type(str)

str

In [23]:
x = 'I am happy'
x

'I am happy'

In [26]:
x[0],x[1],x[2], x[len(x)-1]

('I', ' ', 'a', 'y')

In [27]:
x[-1]

'y'

In [28]:
# 인데스 범위
x[1:4]

' am'

In [29]:
x[4:8]

' hap'

In [30]:
x[4:]

' happy'

In [31]:
x[-4:] # 'I am happy'

'appy'

In [32]:
x[-4:-2]

'ap'

In [33]:
x[:-2]

'I am hap'

# Bool

In [35]:
True

True

In [36]:
False

False

In [37]:
10 > 20

False

In [38]:
10 > 20 == True

False

In [44]:
(10 > 20) == False

True

In [40]:
type(True)

bool

## 연산자

In [45]:
10*10

100

In [46]:
10/10 # 실수로 변환된다

1.0

In [53]:
X= 10

In [55]:
X//=2 # 실수로 변환된다

In [56]:
X

2

In [57]:
X %= 2

### 문자열의 연산자 :  * ,  +

In [60]:
"호"*100

'호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호'

In [61]:
"--"*100

'--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------'

In [62]:
"호" **2 # 에러

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [63]:
a = "호"
b = "빵"
a + b

'호빵'


# .format()

In [66]:
print('We are the {} who say "{}!"'.format('knights', 'Ni'))

We are the knights who say "Ni!"

In [67]:
 print('{0} and {1}'.format('spam', 'eggs'))

spam and eggs

In [68]:
 print('{1} and {0}'.format('spam', 'eggs'))

eggs and spam

In [70]:
print('This {food} is {adjective}.'.format(food='spam', adjective='absolutely horrible'))

This spam is absolutely horrible.

In [71]:
print('The story of {0}, {1}, and {other}.'.format('Bill', 'Manfred',other='Georg'))

The story of Bill, Manfred, and Georg.

In [79]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 8637678}
print('Jack: {0[Jack]:d}; Sjoerd: {0[Sjoerd]:d}; Dcab: {0[Dcab]:d}'.format(table))

Jack: 4098; Sjoerd: 4127; Dcab: 8637678

# 문자열 객체

In [80]:
a = '옹'
type(a), type("홍")

(str, str)

In [81]:
"abc".upper()

'ABC'

In [85]:
"aBcDDDefg".swapcase()

'AbCdddEFG'

In [84]:
"abcDDDefg".capitalize()

'Abcdddefg'

In [86]:
" dbc ssdffk ".strip()

'dbc ssdffk'

In [87]:
len(" dbc ssdflk ")

12

In [88]:
len(" dbc ssdflk ".strip())

10

In [90]:
" dbc ssdflk\n\r" .rstrip() # lstrip 도 있음

' dbc ssdflk'

In [91]:
" dbc ssdfklk\n\r" .replace('ss', 'kk')

' dbc kkdfklk\n\r'

In [92]:
"dbc ssdfklk\n\r" .replace('s','kk')

'dbc kkkkdfklk\n\r'

In [93]:
" dbcd ssdflk\n\r".find("ss")

6

In [94]:
msg = ['a', 'b', 'c'] # 리스트
"#".join(msg)

'a#b#c'

In [95]:
"010-1111-99999".split("-")

['010', '1111', '99999']

In [96]:
print("010", 1111, "9999", sep="-")

010-1111-9999

In [97]:
print("2020", "12", "2", sep="/")

2020/12/2

In [98]:
print("2020{}12{}2".format("/","/"))

2020/12/2

In [99]:
print("안녕")
print("응...")

안녕
응...

In [102]:
print("안녕\n\n\n")
print("응...")
print("안녕하세요", end = "\n\n\n")
print("응...")

안녕



응...
안녕하세요


응...

# 입력

In [103]:
name = input("이름을 입력해 주세요")
name

이름을 입력해 주세요박태민

'박태민'

In [104]:
a = input('숫자1')
b = input('숫자2')

c = int(a) + int(b) # input은 문자기 떄문에 정수화

print(c)

숫자110
숫자220
30

 # 인치 센치미터 변환

In [105]:
inch = float(input('인치(inch)를 입력하세요:'))
cm = inch * 2.54
print('센티미터 : %.2f'%cm)

인치(inch)를 입력하세요:30
센티미터 : 76.20

In [111]:
inch = 2.54*float(input('인치(inch)를 입력하세요:'))
cm = '센티미터 :{}'.format(inch)
cm

인치(inch)를 입력하세요:30

'센티미터 :76.2'

In [113]:
name = input('학생 이름을 입력하세요 :')
kor = int(input('국어 성적을 입력하세요 :'))
eng = int(input('영어 성적을 입력하세요 :'))
math = int(input('수학 성적을 입력하세요 :'))

total = kor+eng+math
avg = total/3

print('이름:%s, 국어:%d, 영어:%d, 수학:%d, 평균:%.1f점' % (name, kor, eng, math, avg))

학생 이름을 입력하세요 :홍길동
국어 성적을 입력하세요 :80
영어 성적을 입력하세요 :90
수학 성적을 입력하세요 :100
이름:홍길동, 국어:80, 영어:90, 수학:100, 평균:90.0점

# 주석

In [114]:
# 한 줄 주석
# 여러줄 주석용도로 docstring 사용 가능
"""
독 스트링은 문자열 이다.
하지만 주석 용도로도 가능하다.
"""

'\n독 스트링은 문자열 이다.\n하지만 주석 용도로도 가능하다.\n'

In [115]:
mystr = """
독 스트링은 문자열 이다.
하지만 주석 용도로도 가능하다.
"""

In [116]:
type(mystr)

str

In [117]:
mystr

'\n독 스트링은 문자열 이다.\n하지만 주석 용도로도 가능하다.\n'

In [118]:
print(mystr)

독 스트링은 문자열 이다.
하지만 주석 용도로도 가능하다.

In [119]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [120]:
print(print)

<built-in function print>

In [121]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."